/* General Demo Style */

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body, html {
    font-size: 100%;
    padding: 0;
    margin: 0;
}

body {
    color: #000;
    background: #fffffe;
}


/* Header Style */

.main, .xd-container>header {
    margin: 0 auto;
    padding: 2em;
}

.xd-container>header {
    background-color: #cae4b6;
    text-align: center;
    padding: 3em;
}

.xd-container>header h1 {
    font-size: 2.625em;
    line-height: 1.3;
    margin: 0;
    font-weight: 300;
}

.xd-container>header span {
    display: block;
    font-size: 60%;
    opacity: 0.7;
    padding: 0 0 0.6em 0.1em;
}


/* Main Content */

.main {
    max-width: 69em;
}

.section {
    font-size: 1.2em;
    padding: 0.8em 0 0.5em 0;
    border-bottom: solid 1px #b385dd;
    margin: 0.5em 0;
}

.ts-10 {
    text-shadow: 0px 0px 10px #333;
}
